.rainbow-border-focus {
  outline: none;
}

.rainbow-border-focus:focus {
  border: 2px solid transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5), 0 0 0 4px transparent;

  background-origin: border-box;
  background-clip: padding-box, border-box;

  background-image: linear-gradient(white, white),
    linear-gradient(
      to right,
      #e57373,
      #ffb74d,
      #fff176,
      #81c784,
      #64b5f6,
      #9575cd,
      #f06292,
      #e57373
    );
  background-size: 100% 100%, 400% 100%;
  background-position: 0 0, 0 0;
  animation: rotate-gradient 3s linear infinite;
}

.rainbow-border-button {
  border: 2px solid transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5), 0 0 0 4px transparent;

  background-origin: border-box;
  background-clip: padding-box, border-box;

  background-image: linear-gradient(white, white),
    linear-gradient(
      to right,
      #e57373,
      #ffb74d,
      #fff176,
      #81c784,
      #64b5f6,
      #9575cd,
      #f06292,
      #e57373
    );
  background-size: 100% 100%, 400% 100%;
  background-position: 0 0, 0 0;
  animation: rotate-gradient 3s linear infinite;
}

@keyframes rotate-gradient {
  to {
    background-position: 0 0, -300% 0;
  }
}
